NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=
AURA_INSTANCEID=
AURA_INSTANCENAME=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-oss-120b
ADO_ORG_URL=https://dev.azure.com/something
ADO_PROJECT=WMS
ADO_PAT=
ADO_ITERATION_PATH=WMS\Sprint 1
ADO_REVIEW_PENDING_STATE='Pending Review'
ADO_REVIEW_COMPLETED_STATE=Done
GITHUB_TOKEN=
